<style>
body{
	text-align: center;
	padding-top: 120px;
    
}

.btn-primary{
	padding: 28px 58px;
	border-radius: 8px;
}

.panel-default{
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 8px;

}

h3{
	padding-bottom: 10px
}

h4{
	padding-left: 65px;
	padding-right: 6px;
}

p{
	padding-top: 10px
}

</style>

<body>
<div class="col-md-offset-3 col-md-6">
<div class="panel panel-default">  

<h3>How it works</h3>
<p><h4>You just indicate places you've been before, what type of destination you're thinking for your next trip and we'll make you awesome suggestions of destinations you haven't been before!</h4></p>

<h3>Start by telling us your previous destinations</h3>
<p>
<a href="/previous_destinations/new" class="btn btn-lg btn-primary">Start here!</a></p>
</div></div>
</body>
