<style>

  
.container{
  padding-top: 20px;
  text-align: center;
  
}

.panel-default{
  border-radius: 20px;
}

.panel-heading{
  padding-bottom: 50px; 
  border-radius: 20px;
}

h1{
  padding-top: 20px;
  padding-bottom:30px; 
}

img{
    border-radius: 20px;
    position: relative;
}
p{
  padding-top: 20px
}
h4{
  position: absolute;
}


</style>

<div class="container">
<div class="col-md-offset-2 col-md-10">
<div class="panel panel-default">
<div class="panel-heading">
  <h1> 
    Choose your preference
  </h1>

      <a href="/suggestions/beach"><img height="130" width="130" src="/assets/images/beach.jpg"></a>
      <a href="/suggestions/mountain"><img height="130" width="130" src="/assets/images/mountain.jpg"></a>
      <a href="/suggestions/city"><img height="130" width="130" src="/assets/images/city.jpg"></a>
      
      <a href="/suggestions/adventure"><img height="130" width="130" src="/assets/images/adventure.jpg"></a>
      
      <a href="/suggestions/relaxing"><img height="130" width="130" src="/assets/images/relaxing.jpg"></a>
      <p>
      <a href="/suggestions/nature"><img height="130" width="130" src="/assets/images/nature.jpg"></a>
      <a href="/suggestions/food"><img height="130" width="130" src="/assets/images/food.jpg"></a>
      <a href="/suggestions/shopping"><img height="130" width="130" src="/assets/images/shopping.jpg"></a>
      <a href="/suggestions/cultural"><img height="130" width="130" src="/assets/images/cultural.jpg"></a>
      <a href="/suggestions/partying"><img height="130" width="130" src="/assets/images/partying.jpg"></a>

      </p>

</div>
</div>
</div>



  </div>
</div>
</div>
