<!-- Validation failure messages -->
<% if @preference.errors.any? %>
  <% @preference.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Preference</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_preference" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for country -->

      <div class="form-group">
        <label for="country" class="control-label">
          Country
        </label>


        <input type="text" id="country" name="country" placeholder="Country" class="form-control" value="<%= @preference.country %>">

      </div>



      <!-- Label and input for destination_type -->

      <div class="form-group">
        <label for="destination_type" class="control-label">
          Destination type
        </label>


        <input type="text" id="destination_type" name="destination_type" placeholder="Destination type" class="form-control" value="<%= @preference.destination_type %>">

      </div>



      <button class="btn btn-success">
        Create Preference
      </button>
      or
      <a href="/preferences">Cancel</a>

    </form>

  </div>
</div>
